.App {
    text-align: center;
}

.App-logo {
    height: 65px;
}

.App-header {
    background-color: rgb(253, 253, 253);
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
    justify-content: center;
}

*:focus {
    outline: none;
}

input {
    width: 40px;
    border: none;
    background-color: transparent;
    font-size: 100%;
    text-align: center;
}

@media (max-width: 600px) { 
  .wrapper {
    display: grid;
    grid-template-columns: repeat(9, 30px);
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
    justify-content: center;
  }  
}

.defaultValue {
    color: #fff;
}

.invalidValue {
    color: #b60c29;
}

.fixedValue {
    color: #044d72;
}

.box {
    background-color: #2c8ec7;
    color: #fff;
    border-radius: 2px;
    padding: 2px;
    font-size: 150%;
}

.box:nth-child(-n+3), 
.box:nth-child(n+10):nth-child(-n+12),
.box:nth-child(n+19):nth-child(-n+21),

.box:nth-child(n+7):nth-child(-n+9),
.box:nth-child(n+16):nth-child(-n+19),
.box:nth-child(n+25):nth-child(-n+27),

.box:nth-child(n+31):nth-child(-n+33),
.box:nth-child(n+40):nth-child(-n+42),
.box:nth-child(n+49):nth-child(-n+51),

.box:nth-child(n+55):nth-child(-n+57),
.box:nth-child(n+64):nth-child(-n+66),
.box:nth-child(n+73):nth-child(-n+75),

.box:nth-child(n+61):nth-child(-n+63),
.box:nth-child(n+70):nth-child(-n+72),
.box:nth-child(n+79):nth-child(-n+81)  {
    background-color: #69b0da;
}


.warningMessage {
    color: rgb(252, 150, 67);
    height: 5px;
    margin: 25px 10px 15px;
}

.message {
    color: rgb(3, 151, 40);
    height: 5px;
    margin: 25px 10px 15px;
}

button {
    margin: 10px 5px;
    padding: 5px;
    width: 100px;
    font-size: .8em;
}